[submodule "vim/bundle/vim-surround"]
	path = vim/pack/my-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/pack/my-plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/pack/my-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/pack/my-plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = untracked
[submodule "vim/bundle/vim-eunuch"]
	path = vim/pack/my-plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	ignore = untracked
[submodule "vim/bundle/vim-sleuth"]
	path = vim/pack/my-plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/pack/my-plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/pack/my-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/pack/my-plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/pack/my-plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/my-plugins/start/rose-pine"]
	path = vim/pack/my-plugins/start/rose-pine
	url = https://github.com/rose-pine/vim.git
[submodule "vim/pack/my-plugins/start/vim-ReplaceWithRegister"]
	path = vim/pack/my-plugins/start/vim-ReplaceWithRegister
	url = https://github.com/inkarkat/vim-ReplaceWithRegister
[submodule "bat/rose-pine"]
	path = bat/rose-pine
	url = https://github.com/rose-pine/tm-theme
[submodule "eza/themes"]
	path = eza/themes
	url = https://github.com/eza-community/eza-themes
[submodule "vim/pack/my-plugins/start/vim-togglecursor"]
	path = vim/pack/my-plugins/start/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor.git
[submodule "vim/pack/my-plugins/start/vim-sneak"]
	path = vim/pack/my-plugins/start/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "vim/pack/my-plugins/start/vim-numbertoggle"]
	path = vim/pack/my-plugins/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
