# Dotbot config for config files.
#
# Simon Olofsson <simon@olofsson.de>
#

- defaults:
    link:
      create: true
      relink: true

- clean:
    ~/:
    ~/.config:
      recursive: true

- create:
    - ~/.vim/backup
    - ~/.vim/swap
    - ~/.vim/undo

- link:
    ~/.config/bat/themes/:
      glob: true
      path: bat/rose-pine/dist/rose-pine-*.tmTheme
    ~/.config/eza/rose-pine-dawn/theme.yml: eza/themes/themes/rose-pine-dawn.yml
    ~/.config/eza/rose-pine-moon/theme.yml: eza/themes/themes/rose-pine-moon.yml
    ~/.config/fish/conf.d/:
      glob: true
      path: fish/conf.d/*
    ~/.config/fish/fish_plugins: fish/fish_plugins
    ~/.config/fish/functions/:
      glob: true
      path: fish/functions/*
      exclude: ["fish/functions/so-dotfiles-update.fish"]
    ~/.config/fzf/:
      glob: true
      path: fzf/rose-pine/dist/rose-pine-*.fish
    ~/.config/ghostty/config: ghostty/config
    ~/.config/serie/config.toml: serie/config.toml
    ~/.config/zed/settings.json: zed/settings.json
    ~/.gitconfig: git/gitconfig
    ~/.gitconfig.themes:
      path: $HOMEBREW_PREFIX/share/git-delta/themes.gitconfig
      if: '[ -n "$HOMEBREW_PREFIX" ]'
    ~/.ripgreprc: ripgrep/ripgreprc
    ~/.vim/pack: vim/pack
    ~/.vimrc: vim/vimrc

- shell:
    - fish -c 'fisher update'
    - bat cache --build
